footer{

position: fixed;
    width:100%;
    bottom:0px;
    
}

footer>div{
float: left;
 width: 25%;
    
}



@media screen and (max-width: 480px) {
    footer>div {  
        float: none;
        background-color: lightblue;
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    footer>div {  
       
        background-color: lightcyan;
        width: 50%;
    }
}

@media screen and (min-width: 769px) {
    footer {  
        float: none;
        background-color: lightgoldenrodyellow;
        width: 100%;
    }
}


#cssSlider {
  width: 1600;
	height: 600px;
	overflow: hidden;
	border: 1px solid #f6f;
}

#sliderImages {
	width : 8000px;
	height: 600px;
	overflow: hidden;
	
	/* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */
	animation: slide 16s infinite;
	-moz-animation: slide 16s infinite;
	-webkit-animation: slide 16s infinite;
	-o-animation: slide 16s infinite;
}

#sliderImages img {
	float: left;
}





@-webkit-keyframes slide{
	0%{margin-left: 0px;}
	10%{margin-left: 0px;}
	20%{margin-left: -1600px;}
	30%{margin-left: -1600px;}
	40%{margin-left: -3200px;}
	50%{margin-left: -3200px;}
	
}

