<!DOCTYPE html>
<html ng-app=pageController>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>

  
      <link rel="stylesheet" href="css/ng.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  
  <script src="js/angular.min.js"></script>
   <script src="js/angular-route.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/jquery.js"></script>    
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="js/app.js"></script>


</head>

<body>

    
 
  
  
  <div id="header" >
    <div id="search"  ng-controller="ListController">
       <div>
        <input style="margin-left:10px;  " ng-model="squery" type="search"  placeholder="search..."/>
	  
	  
        <span id="close" style="width:20%; " ><i class="fa fa-times fa-4x" style="padding: auto 10px;"></i></span>
        </div>
        
        
        
	  <div id="pagec"  style="text-align:center; margin:10px 5%;width:100%;">
	  
      	<div class="ng" >
		<h1 ng-show="squery" style="color:#000; text-shadow: 0px 0px #000; text-align:left;" >Search result </h1>
			<ul class="pagelist" ng-show="squery"  style="width:80%; margin:0px; padding:0px;">
			
			<li ng-animate="\'animate\'" class="page cf" ng-repeat="item in pages | filter: squery | orderBy: pageOrder:direction">
			  <a href="employers/{{item.pagename}}.php">
				
				<div class="info">
				  <h2>{{item.pagename}}</h2>
				  <h3>{{item.metadata}}</h3>
				</div>
			  </a>
			</li>
			</ul>
						
		</div>
				<div class="ng" >
            <h1 style="color:#000; text-shadow: 0px 0px #000;">Popular post</h1>
		<ul class="pagelist"  style="width:80%; margin:0px; padding:0px;" >
		    	<li ng-animate="\'animate\'" class="page cf" >
			  <a href="{{pages[6].pagename}}.php">
				
				<div class="info" ng-controller="bctrl">
				  <h2>{{items[0].p}}</h2>
				  <h3>{{items[0].h2}}</h3>
				</div>
			  </a>
            </li> 
			<li ng-animate="\'animate\'" class="page cf" >
			  <a href="{{pages[6].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[6].pagename}}</h2>
				  <h3>{{pages[6].metadata}}</h3>
				</div>
			  </a>
            </li> 
            <li ng-animate="\'animate\'" class="page cf" >
			    <a href="{{pages[1].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[1].pagename}}</h2>
				  <h3>{{pages[1].metadata}}</h3>
				</div>
			  </a>
            </li> 
            <li ng-animate="\'animate\'" class="page cf" >
			 <a href="{{pages[2].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[2].pagename}}</h2>
				  <h3>{{pages[2].metadata}}</h3>
				</div>
			  </a>
            </li> 
            <li ng-animate="\'animate\'" class="page cf" >
			        <a href="{{pages[3].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[3].pagename}}</h2>
				  <h3>{{pages[1].metadata}}</h3>
				</div>
			  </a>
            </li> 
           		
			
            
                 
          
			
			</ul>
						
		</div>
		
		<div class="ng"    >
            <h1 style="color:#000; text-shadow: 0px 0px #000;">Popular post</h1>
		<ul class="pagelist"  style="width:80%;  margin:0px; padding:0px;">
			<li ng-animate="\'animate\'" class="page cf" >
                
			  <a href="{{pages[6].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[6].pagename}}</h2>
				  <h3>{{pages[6].metadata}}</h3>
				</div>
			  </a>
                <a href="{{pages[1].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[1].pagename}}</h2>
				  <h3>{{pages[1].metadata}}</h3>
				</div>
			  </a>
                  <a href="{{pages[2].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[2].pagename}}</h2>
				  <h3>{{pages[2].metadata}}</h3>
				</div>
			  </a>
                  <a href="{{pages[3].pagename}}.php">
				
				<div class="info">
				  <h2>{{pages[3].pagename}}</h2>
				  <h3>{{pages[1].metadata}}</h3>
				</div>
			  </a>
			</li>
			</ul>
						
		</div>
		</div>
		
      
    </div>
    <div id="icon"><nav >
				
				    <a href="https://www.facebook.com/ufcrc"><i class="fa fa-facebook-square"></i></a>
					<a href="https://twitter.com/uf_crc"><i class="fa fa-twitter-square"></i></a>
					<a href="http://instagram.com/ufcrc"><i class="fa fa-instagram"></i></a>
					<a href="https://www.youtube.com/channel/UCrvGxbz2LWOKWChUq9T_DjQ"><i class="fa fa-youtube"></i></a>
                    <a href="https://plus.google.com/u/0/+ufcrc/posts"><i class="fa fa-google-plus-square"></i></a>
			   </nav></div>
    <div id="date"><h5 style=" color:white;">Mon to Fri 8am-5pm 352-392-1601</h5></div>
  </div>
  
  

  

  
  

  
  
 <footer> 
     <div class="fa"><div>
       <div class="fb"><div>
             <div class="fc"><div>
                   <div class="f"><div>
     
     
    </footer>
    
		
				
				 
    
    
    
</body>

</html>